header{
    height: 130px;
    background-image: url(../img/wall.png);
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    background-image: url(../img/cork.png);
}
h1{
    font-family: "Sometype Mono", monospace;
    font-weight: 600;
    font-style: italic;
    font-size: 85px;
}
main{
    font-family: "Edu Tas Beginner", sans-serif;
    font-size: 20px;
}
.card-body{
    padding: 10px 0;
}
.card{
    border-radius: 0px;
    position: relative;
}
.pin{
    position: absolute;
    top: -15px;
    left: 45%;
}